    <div class="search_list">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="my-4">
                <h2 class="section-heading">{{ list_name }}</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>


{% if products|length_is:"0" %}
    <section>
        <div class="text-center">

            <p>{{ message }}</p>

            <hr class="my-4">

            {% include 'catalogue/search_form.html' %}

        </div>
    </section>
{% else %}
    <section>
    <div class="container">
        <div class="row">   
            {% for product in products %}
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <div class="testtest">
                            <a href="{% url 'catalogue:detail' product_id=product.id %}">
                              <img class="img-responsive" src="{{ product.picture }}" alt="{{ product.name }}" width="130" height="130" style="border:solid 2px #000000;">
                            </a>
                            

                            {% if product.nutriscore == 1 %}
                                <p class="nutriscore"><font color="green">A</font></p>
                                <p class="nutriscore_title"><a href="{% url 'catalogue:detail' product_id=product.id %}"><font color="green">{{ product.name }}</font></a></p>
                            {% elif product.nutriscore == 2 %}
                                <p class="nutriscore"><font color="#78DF33">B</font></p>
                                <p class="nutriscore_title"><a href="{% url 'catalogue:detail' product_id=product.id %}"><font color="#78DF33">{{ product.name }}</font></a></p>
                            {% elif product.nutriscore == 3 %}
                                <p class="nutriscore"><font color="yellow">C</font></p>
                                <p class="nutriscore_title"><a href="{% url 'catalogue:detail' product_id=product.id %}"><font color="yellow">{{ product.name }}</font></a></p>
                            {% elif product.nutriscore == 4 %}
                                <p class="nutriscore"><font color="orange">D</font></p>
                                <p class="nutriscore_title"><a href="{% url 'catalogue:detail' product_id=product.id %}"><font color="orange">{{ product.name }}</font></a></p>
                            {% else %}
                                <p class="nutriscore"><font color="red">E</font></p>
                                <p class="nutriscore_title"><a href="{% url 'catalogue:detail' product_id=product.id %}"><font color="red">{{ product.name }}</font></a></p>
                            {% endif %}


                    {% if user.is_authenticated %}
                        {% if list_name == 'Vous pouvez remplacer cet aliment par :' %}
                            <form action="{% url 'catalogue:aliment' %}" method="post">
                                {% csrf_token %}
                                <div class="container text-center">
                                    <div class="btn-sub">
                                    <button type="submit" class="btn btn-success">Substituer</button>
                                    <input type="number" name="user" value="{{ user.id }}" style="visibility:hidden">
                                    <input type="number" name="product" value="{{ product_id }}" style="visibility:hidden">
                                    <input type="number" name="product_sub" value="{{ product.id }}" style="visibility:hidden">
                                    </div>

                                </div>
                            </form>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>

            {% endfor %}


            {% if paginate %}
                
                <div class="clearfix"></div>

                <section class="container text-center">
                <div class="container text-center">
                <div class="row">

                
                        <div class="col-lg-6 mx-auto text-center">
                        {% if products.has_previous %}
                        
                            <a class="btn btn-light btn-l sr-button" href="?page={{ products.previous_page_number }}">Précédent</a>
                        
                        {% endif %}

                        {% if products.has_next %}
                        
                            <a class="btn btn-light btn-l sr-button" href="?page={{ products.next_page_number }}">Suivant</a>
                        
                        {% endif %}
                        </div>

                </nav>
                </div>
                </div>
                </section>
            {% endif %}


        </div>
    </div>
</section>

{% endif %}