{% extends 'catalogue/base.html' %}

{% load static %}

{% block header %}

	<style>
	    header {
	      background-image: url("{% static 'catalogue/img/header_3.jpg' %}");
	    }
    </style>

    <header class="masthead_2 text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>{{ user.username }}</strong>
            </h1>
            <hr>
          </div>
        </div>
      </div>
    </header>

{% endblock %}


{% block content %}

  {% if user.is_authenticated %}

    {% include 'catalogue/connexion_ok.html' %}
    
  {% endif %}

{% endblock %}