{% extends 'catalogue/base.html' %}

{% load static %}

{% block header %}

	<style>
	    header {
	      background-image: url("{% static 'catalogue/img/header_3.jpg' %}");
	    }
    </style>

    <header class="masthead_2 text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>ERROR 500</strong>
            </h1>
            <hr>
          </div>
        </div>
      </div>
    </header>

{% endblock %}


{% block content %}

	<section id="services">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-12 text-center">
	        <p>Nous sommes désolé, mais nous avons eut un petit soucis avec le serveur. En vous proposant une redirection pour <a href="{% url 'acceuil' %}">la page d'acceuil</a>.</button>
	        </p>
	      </div>
	    </div>
	  </div>

	  <div class="col-lg-12 text-center">
	    <div class="service-box mt-5 mx-auto">
	      <img class="img-fluid" src="{% static 'catalogue/img/colette_error.jpg' %}" alt="" width="450" height="450">
	    </div>
	  </div>
	</section>

{% endblock %}